.site-content {

	> main,
	> aside {

		@include make-col-ready();
	}

	> aside {

		@include make-col-ready();
	}
}

.sidebar {

	.site-content {

		> main {

			@include make-col(8);
		}

		> aside {

			@include make-col(4);
		}
	}
}

.no-sidebar {

	.site-content {

		> main {

			@include make-col(12);
		}
	}
}
